<div class="d-flex justify-content-center align-items-center vh-100">
  <form class="border p-4 rounded shadow" style="min-width: 300px;">
    <div class="mb-3">
      <label for="Username" class="form-label">Username</label>
      <input type="User" class="form-control" id="Username" aria-describedby="Username">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
    </div>
    <button type="submit" class="btn btn-primary w-100">Submit</button>
  </form>
</div>
